---
layout: default
title: Beranda Blog
description: Selamat datang di blog pribadi saya!
pagination:
  enabled: true
---
<div class="hero">
 <div class="hero-content">
    <h1>Selamat Datang di x-Qmo Blog!</h1>
    <p>Tempat di mana saya berbagi pemikiran dan tutorial.</p>
    <a href="{{ "/produk" | relative_url }}" class="hero-button">Produk & Video AI</a>
  <div>
</div>

<div class="posts-list">
  <h2 class="section-title">Postingan Terbaru</h2>

     {% for post in site.posts %}
  <div class="post-item">
  {% if post.image %}
  <article class="post-preview">
    <h3><a href="{{ post.url | relative_url }}">{{ post.title }}<img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-thumbnail"></a></h3>
    {% else %}
    <h3><a href="{{ post.url | relative_url }}">{{ post.title }}<img src="{{ '/assets/images/default-thumbnail.jpg' | relative_url }}" alt="{{ post.title }}" class="post-thumbnail"></a></h3>
    {% endif %}
    <p class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%d %b %Y" }}
      </time>
      {% if post.author %}
        oleh {{ post.author }}
      {% endif %}
    </p>
    <div class="post-excerpt">
      {{ post.excerpt | strip_html | truncatewords: 30 }}
      <div><a href="{{ post.url | relative_url }}" class="read-more">Baca Selengkapnya &raquo;</a></div>
    </div>
    </div>
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Halaman Sebelumnya</a>
  {% else %}
    <span class="previous disabled">Halaman Sebelumnya</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="page-number current">{{ page }}</span>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-number">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Halaman Selanjutnya</a>
  {% else %}
    <span class="next disabled">Halaman Selanjutnya</span>
  {% endif %}
</div>
