---
layout: default
title: Produk Kami
---
<style>


.produk-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  flex-direction: column;
}

.produk-list img {
  width: 100% !important;
}

</style>

<h1>Produk Terbaru</h1>
<div class="produk-list">
    {% for item in site.produk %}
        <a href="{{ item.url | relative_url }}">
          <h3>{{ item.title }}</h3>
          {% if item.image %}
            <img src="{{ item.image | relative_url }}" alt="{{ item.title }}" style="width: 250px; height: auto;">
          {% endif %}
        </a>
    {% endfor %}
</div>
