<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
  {% if page.title %}
    {{ page.title }} | {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% include open-graph.html %}
<link rel="canonical" href="{{ page.url | absolute_url }}">
    <meta name="google-site-verification" content="vCTwJ0HHsMQ739xA1y8Zu7V0iQ-_-HgKOdVltGdc-7M">
    <meta name="google-adsense-account" content="ca-pub-9216057952866489">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.ico' | relative_url }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9216057952866489"
     crossorigin="anonymous"></script>

  {% assign current_url = page.url | absolute_url %}
  {% assign current_title = page.title | default: site.title %}
  {% assign current_description = page.excerpt | default: site.description | strip_html | truncate: 160 %}
  {% assign current_image = page.image | default: site.data.site_info.logo | absolute_url %}

  {% include article_schema.html %}
  {% include blog_posting_schema.html %}
  {% include webpage_schema.html %}
  {% include news_article_schema.html %}
  {% include breadcrumb_schema.html %}

</head>
