<style>
.layan-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #786d61;
  margin-bottom: 15px;
}
.layan-wrapper h2 {
  margin: 0;
  text-align: center;
}
.layan-info {
  text-align: center;
}
.layan-info h3 {
  margin: 0;
  text-align: center;
  color: #e0b400;
}
.layandesk, .layanalmt {
  text-align: center;
  padding: 15px;
}

.layanbutton {
  text-align: center;
}

.layanbutton {
  border: none;
  outline: 0;
  color: white;
  background-color: #2c974b;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 5px;
}

  .layanbutton:hover {
    background-color: #207138;
text-decoration: none;
  }
</style>
<div class="layanan-gallery">
  {% for layan in include.layanan %}
    <div class="layan-item">
      <div class="layan-wrapper">
        {% if layan.type == 'konveksi' %}
        <div><img src="{{ site.baseurl }}{{ layan.gambar }}" style="width:100%"></div>
        <h2>{{ layan.nama }}</h2>
        {% endif %}
      </div>
      <div class="layan-info">
        <h3>{{ layan.nama_judul }}</h3>
        <div class="layandesk">{{ layan.deskripsi_singkat }}</div>
        <a href="{{ layan.link }}" class="layanbutton">Kunjungi</a>
        <div class="layanalmt">{{ layan.alamat }}</div>
      </div>
    </div>
  {% endfor %}
</div>
