<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "headline": "{{ page.title | escape }}",
  "description": "{{ page.description | default: site.description | escape }}",
  "image": [
    {% if page.image %}
    "{{ page.image | absolute_url }}"
    {% else %}
    "{{ site.url }}/assets/images/default-thumbnail.jpg"
    {% endif %}
  ],
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name | default: site.title | escape }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title | escape }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/assets/images/logo.png"
    }
  }
  {% if page.tags %}
  ,"keywords": "{{ page.tags | join: ', ' }}"
  {% endif %}
}
</script>
