<style>
.sid-kat {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.sid-kat a {
  flex-basis: 47%;
}
</style>
<aside class="sidebar">



    <h3>Postingan Terbaru</h3>
    <ul>
        {% for post in site.posts limit:5 %}
        <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <h3>Kategori</h3>
    <div class="sid-kat">
        {% assign categories = site.categories | sort %}
        {% for category in categories %}
        <a href="{{ site.baseurl }}/categories/{{ category | first | slugify }}/">{{ category | first }} ({{ category | last | size }})</a>
        {% endfor %}
    </div>

    <h3>Ikuti Kami</h3>
    <ul class="social-links">
        {% if site.twitter_username %}
            <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">Twitter</a></li>
        {% endif %}
        {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        {% endif %}
    </ul>
</aside>
