---
layout: default
---

<article class="post">
  <header class="post-header">
  {% if page.image %}
  <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="main-post-image">
  {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%d %b %Y" }}
      </time>
      {% if page.author %}
        oleh {{ page.author }}
      {% endif %}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
    {% include share-buttons.html %}
  </div>
  <h3>Komentar</h3>
    {% include utterances_comments.html %}
</article>
